{% extends 'base.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
    
<!--  if app.user 
if app.user.roles[0] == 'ROLE_ADMIN' %} -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-3">Créer un compte</h3>
                            </div>
                            <div class="card-body">
                                
                                {{ form_start(registrationForm) }}      
                                {{ form_widget(registrationForm) }}

                                <label for="">Choisissez le rôle</label>
                                <div class="">
                                    <label for="admin">
                                    <input type="radio" name="role" value="ROLE_ADMIN" class="ml-3" id="admin">
                                    Administrateur</label>

                                </div>
                                <div class="">
                                    <label for="editor">
                                    <input type="radio" name="role" value="ROLE_EDITOR" class="ml-3" id="editor">
                                    Editeur</label>

                                </div>
                                <div class="form-group">

                                    <label for="reserve">
                                    <input type="radio" name="role" value="ROLE_RESERVE" class="ml-3" id="reserve">
                                    Accèss Réservé</label>
                                </div>

                                
                                <button class="btn btn-outline-danger d-block ml-auto">Enregistrer</button>
                                {{ form_end(registrationForm) }}

                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="">Besoin d'aide? Cliquez ici!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}