{% extends 'base.html.twig' %}

{% block title %}Access denied{% endblock %}

{% block body %}

{# structure de la page 10 colonnes de largeur et alignée à droite #}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto my-5">

            {# page body #}

            <div class="mt-5 " id="access">
            <div class="col-12 col-md-6 m-auto  p-5  text-center rounded border" >
                <h4 style="font-family: 'Amiri', serif;" >Vous n'avez pas le droit d'aller sur cette url !!</h4>
                <button type="button" class="fermer btn btn-outline-danger mt-5">Fermer</button>
            </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}

    <script>
        let fermer = document.querySelector('.fermer')
        let modal = document.querySelector('#access')
        fermer.addEventListener('click', () => {
            modal.style.display = 'none'
        })
    </script>

{% endblock %}