{% extends 'base.html.twig' %}

{% block title %}Nouveau absence{% endblock %}

{% block body %}
{% if app.user %}


{# structure de la page 10 colonnes de largeur et alignée à droite #}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">
            {% include "editor/apprenant/_nav_apprenant.html.twig" with {"p": 3} %}
            
            
            <div class="my-5">
                
                <h4 class="btn btn-info btn-sm">Ajouter un absence</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-outline-danger d-block ml-auto">Enregistrer</button>
                {{ form_end(form) }}

            </div>
            {# end body #}

        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}



{% endblock %}