{% extends 'base.html.twig' %}

{% block title %}Dashbord{% endblock %}

{% block body %}
{% if app.user %}


    {# structure de la page 10 colonnes de largeur et alignée à droite #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">

                {# page body #}
                {# {% include "template_parts/_nav_promotion.html.twig" %} #}










                {# end body #}

            </div>
        </div>
    </div>
{% endif %}
{% endblock %}