<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FABRIQUE ADMIN{% endblock %}</title>
        {% block stylesheets %}
        
        {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        {# mon propre css #}
        <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">

        {# link css de bootstrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" 
            crossorigin="anonymous">
        
        {# link pour utiliser les icons de fontawesome #}
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        
        {# jquery #}
        {# <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script> #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {# bootstrap cdn #}


        <title>Fabrique Admin</title>
        



    </head>
    <body>

        {% if app.user %}

            {% include "template_parts/_nav_user.html.twig" %}

        {% else %}

            {% include "template_parts/_nav.html.twig" %}
            
        {% endif %}
        

        {% block body %}
        
        {% endblock %}

        {% block javascripts %}
        
        {% endblock %}

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        
        {# js for fontawesome #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        {# mon propre js #}
        <script src="{{ asset('assets/js/script.js') }}"></script>



<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    $('.dropdown-toggle').dropdown()
</script>
        
    </body>
</html>
