{% extends 'base.html.twig' %}

{% block title %}Attribuer un apprenant{% endblock %}

{% block body %}
{% if app.user %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">

            {% include "editor/promotion/_nav_promotion.html.twig" with {'p':3} %}

            {# pour afficher le flash message #}
            <div class="my-5">
                
                <h4 class="btn btn-info btn-sm">Attribuer un apprenant</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                
                <button class="btn btn-outline-danger d-block ml-auto">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}